<div class="w-[80%] p-4 text-center bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
    <h5 class="mb-2 text-3xl font-bold text-gray-900 dark:text-white">SES QuickMailer</h5>
    <p class="mb-5 text-base text-gray-500 sm:text-lg dark:text-gray-400">
        Accelerate your email delivery process and reach your audience swiftly with Amazon SES.
    </p>
    <div class="text-white text-sm">
        <ol class="text-center flex flex-col gap-2">
            <li class="bg-gray-700 p-2 rounded-xl">
                The CSV file must contain email addresses in a single column without any headers or additional data.
            </li>
            <li class="bg-gray-700 p-2 rounded-xl">
                All email addresses listed in the CSV file must be verified by AWS SES before sending any emails.
            </li>
            <li class="bg-gray-700 p-2 rounded-xl">
                If any email address listed in the CSV file is not verified by AWS SES, a verification link will be sent to that email address for verification.
            </li>
            <li class="bg-gray-700 p-2 rounded-xl">
                Only verified email addresses will receive the desired email content. Unverified email addresses will not receive any emails until they are successfully verified.
            </li>
        </ol>
    </div>
</div>