<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <title>Home</title>
</head>
<body>
    <div class="h-[100%] bg-[#111827]/90 flex">
        <div class="flex-1 flex justify-center items-center">
            <%- include('partials/intro-card') %>
        </div>
        <div class="flex-1 flex items-center justify-center">
            <%- include('partials/form') %>
        </div>
    </div>
</body>
</html>